.table {
  background-color: white;
  border-collapse: collapse;
  //border: 1px solid black;

  // & tbody,
  // & thead {
  //   display: block;
  // }

  // & tbody {
  //   height: 100px;
  //   overflow: auto;
  // }

  // &__columns,
  // &__rows {
  //   display: block;
  // }
  &__caption {
    background-color: var(--zano-gray-dark1);
    color: white;
    font-size: 2rem;
    padding: var(--zano-padding-lg) var(--zano-padding);

    text-align: left;
  }

  &__column-row {
    background-color: white;
  }
  &__column-cell {
    border-bottom: 0.1rem solid black;
    padding: var(--zano-padding);
    height: 50px;
  }
  &__column-cell:hover {
    cursor: pointer;
  }
  &__column-sort {
    width: 1rem;
    height: 1rem;
    padding: 0 var(--zano-padding-sm);
    box-sizing: border-box;
    display: inline-block;
  }
  &__row:nth-child(even) {
    background-color: var(--zano-gray-light3);
  }
  &__cell {
    padding: var(--zano-padding);
  }
  // &__rows {
  //   background-color: white;
  // }
  //&__row {
  //background-color: orange;
  //}
}
