.text-field {
  display: flex;
  align-items: center;
  overflow: hidden;

  &__input,
  &__clear {
    height: 2rem;
    border: 0.1rem solid var(--zano-gray);
  }
  &__input {
    padding: var(--zano-padding) 2rem var(--zano-padding) var(--zano-padding);

    font-size: 1rem;
  }
  &__clear {
    margin-left: -2rem;
    width: 2rem;
    transition: transform 0.2s ease;
  }
  &__clear:hover {
    background-color: var(--zano-gray-light2);
    cursor: pointer;
  }
  &__clear--show {
    transform: translateX(0);
  }
  &__clear--hide {
    transform: translateX(2rem);
  }
}
